@charset "EUC-KR";

*{
	font-family: "야놀자 야체";
	font-weight: bold;
}

.header-title {
	text-align: center;
}

.footer{
	text-align: center;
}

.book_form{
	border: 1px gray dotted;
	position: relative;
	display: inline-block;
}

.map{
	border: 1px gray dotted;
	position: relative;
	display: inline-block;
}